In [1]:
# Create a Datatime index containing all the weekdays days of year 2019 and assign a random number to each of them in a dataframe. 
import pandas as pd

In [7]:
# Given Pandas series , height = [23,42,55] and weight = [71,32,48] . Create a dataframe with height and weight as column names. 
height = [23,42,55]
weight = [71,32,48]
data = {'height': height, 'weight': weight}
df = pd.DataFrame(data, columns=['height', 'weight'])
df

   height  weight
0      23      71
1      42      32
2      55      48

In [12]:
# How to get the items of series A not present in series B .From ser1 remove items present in ser2.
ser1 = pd.Series([2,3,4,5])
ser2 = pd.Series([5,6,7,8])

matches =  [i for i, j in zip(ser1, ser2) if i == j]
matches

[5]