In [2]:
# Consider the above standard price problem statement and place the prices in the form of the tuple.
purchased_item, price_list, purchased_quantity = ('Apple', 'Sugar', 'Rice', 'Milk', 'Egg'), (220, 43, 45, 30, 60) ,(0.25, 0.5, 1, 2.5, 1, 1)
purchased_item

('Apple', 'Sugar', 'Rice', 'Milk', 'Egg')

In [4]:
total_price = 0
purchased_price = ()
for index, value in enumerate(purchased_item):
    item_price = price_list[index] * purchased_quantity[index]
    total_price += item_price
    purchased_price = purchased_price + (item_price, );
    print(value + ' : ' + str(item_price))
print('-' * 20)
print('Total Price :' + str(total_price))

Apple : 55.0
Sugar : 21.5
Rice : 45
Milk : 75.0
Egg : 60
--------------------
Total Price :256.5

In [7]:
purchased_price
# Find out the min and max price among them.
max_value = max(purchased_price)
print('Maximum price of the purchased item:' + str(max_value))
min_value = min(purchased_price)
print('Minimum price of the purchased item:' + str(min_value))

Maximum price of the purchased item:75.0
Minimum price of the purchased item:21.5

In [9]:
ai_companies = ['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia','OpenAI','Qualcomm',
                'Reliance', 'Nvidia','OpenAI','Qualcomm']
ai_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

In [11]:
# Also, convert the above "AI_companies" list to a tuple.
ai_companies_tuple = tuple(ai_companies)
ai_companies_tuple

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance',
 'Nvidia',
 'OpenAI',
 'Qualcomm')

In [15]:
# Combine two above tuples to a single tuple.
combined_tuple = (purchased_item, price_list, purchased_quantity)
combined_tuple
combined_tuple = combined_tuple + (ai_companies_tuple,)
combined_tuple

(('Apple', 'Sugar', 'Rice', 'Milk', 'Egg'),
 (220, 43, 45, 30, 60),
 (0.25, 0.5, 1, 2.5, 1, 1),
 ('Amazon',
  'Apple',
  'Facebook',
  'Google',
  'HiSilicon',
  'Microsoft',
  'SenseTime',
  'Nvidia',
  'OpenAI',
  'Qualcomm',
  'Reliance',
  'Nvidia',
  'OpenAI',
  'Qualcomm'))

In [21]:
# Compare the length of two tuples.
for tuple in combined_tuple:
    print(str(combined_tuple.index(tuple)) + ' : ' +  str(len(tuple)))

0 : 5
1 : 5
2 : 6
3 : 14